.card {
  max-width: 413px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
  /* Ensure text doesn't overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
