.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__copyright {
  width: 104px;
  height: 16px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #212121;
  opacity: 0.7;
  text-align: center;
}
