.profile {
  position: relative;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 10px; /* This will round all corners */
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  background: none;
  border: none;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-start;
}

.profile__add-btn {
  position: absolute;
  right: 0;
  bottom: 22.78px;
  background: #212121;
  border: none;
  border-radius: 9.111px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 59px;
  min-width: 179.67px;
}

.profile__add-btn img {
  margin-right: 9.11px;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
  }
}
